* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f2f2f2;
}

.section {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #007bff;
}

.container-input label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.container-input input[type="text"],
.container-input input[type="tel"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#nameSearch {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

#search {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#search:hover {
  background-color: #218838;
}

button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:last-of-type {
  margin-right: 0;
}

#window {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #f9f9f9;
}
